.sixthCardImage {
    position: absolute;
    top: -40px;
    height: 140px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 576px) {
        top: -65px;
    }
}