html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'SourceSansPro-Black';
  src: local('SourceSansPro'), url('../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf') format('ttf');
}
@font-face {
  font-family: 'SourceSansPro-BlackItalic';
  src: local('SourceSansPro'), url('../fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'SourceSansPro-Bold';
  src: local('SourceSansPro'), url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'SourceSansPro-BoldItalic';
  src: local('SourceSansPro'), url('../fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'SourceSansPro-ExtraLight';
  src: local('SourceSansPro'), url('../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf') format('ttf');
}
@font-face {
  font-family: 'SourceSansPro-ExtraLightItalic';
  src: local('SourceSansPro'), url('../fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'SourceSansPro-Italic';
  src: local('SourceSansPro'), url('../fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf') format('ttf');
}
@font-face {
  font-family: 'SourceSansPro-Light';
  src: local('SourceSansPro'), url('../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'SourceSansPro-LightItalic';
  src: local('SourceSansPro'), url('../fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: local('SourceSansPro'), url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: local('SourceSansPro'), url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'SourceSansPro-SemiBoldItalic';
  src: local('SourceSansPro'), url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.ttf') format('ttf');
}


html, body {
  font-family: 'SourceSansPro-Regular' , sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'SourceSansPro-Bold' , sans-serif;
}
h1 {
  color: #282828;
}
h2 {
  color: rgb(126, 126, 126);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    font-family: 'SourceSansPro-Black';
  }
  body {
    color: white;
    background: black;
  }
}
